* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  width: 1280px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links .nav-logo {
  background-image: url(../images/logo/logo-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 92px;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 3%;
  margin-left: 160%;
}
nav .links .links-nav {
  min-width: 30.5%;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-right: 8.2%;
}
nav .links .links-nav .nav-name {
  padding-left: 19px;
  color: #EE4367;
}
nav .links .links-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15pt;
  font-family: GillSansregular;
}
nav .line {
  border: none;
  height: 2px;
  width: 980px;
  background-color: #ffffff;
  margin: auto;
}

@media screen and (max-width: 768px) {
  nav .links .nav-logo {
    margin-left: 10%;
  }
  nav .links .links-nav {
    min-width: auto;
    margin-top: 8%;
    margin-right: 0;
  }
  nav .links .links-nav .nav-name {
    padding-left: 10px;
  }
  nav .line {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  nav .links .nav-logo {
    margin-left: 20%;
  }
  nav .links .links-nav {
    margin-top: 6%;
  }
}
@media screen and (max-width: 480px) {
  nav .links {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .links .nav-logo {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  nav .links .links-nav {
    width: 100%;
    margin-top: 8%;
    margin-right: 0;
  }
  nav .links .links-nav .nav-name {
    padding-left: 0;
    margin-left: 5%;
    display: block;
    margin-bottom: 5%;
  }
  nav .line {
    width: 80%;
  }
}
nav-black {
  width: 1280px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
nav-black .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav-black .links .nav-logo {
  background-image: url(../images/logo/logo-black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 92px;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 3%;
  margin-left: 3%;
}
nav-black .links .links-nav {
  min-width: 30.5%;
  height: 42px;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-left: 25%;
}
nav-black .links .links-nav .nav-name {
  padding-left: 15px;
  color: #EE4367;
}
nav-black .links .links-nav a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
  font-family: GillSansregular;
  margin-left: 2%;
}
nav-black .line {
  border: none;
  height: 2px;
  width: 980px;
  background-color: black;
  margin: auto;
}

@media screen and (max-width: 768px) {
  nav-black .links .nav-logo {
    margin-left: 5%;
  }
  nav-black .links .links-nav {
    min-width: auto;
    margin-top: 8%;
    margin-left: 10%;
  }
  nav-black .links .links-nav .nav-name {
    padding-left: 10px;
  }
  nav-black .links .links-nav a {
    margin-left: 0;
  }
  nav-black .line {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  nav-black .links .nav-logo {
    margin-left: 10%;
  }
  nav-black .links .links-nav {
    margin-top: 6%;
  }
}
@media screen and (max-width: 480px) {
  nav-black .links {
    flex-direction: column;
    align-items: flex-start;
  }
  nav-black .links .links-nav a {
    margin-left: 0;
    margin-bottom: 5%;
  }
  nav-black .line {
    width: 80%;
  }
}
.home .wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.home .wrapper .hero {
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/home-hero.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.home .wrapper .hero-textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 170px;
}
.home .wrapper .hero-textbox .heading {
  font-size: 40pt;
  color: #ffffff;
  font-family: ProximaNova;
}
.home .wrapper .hero-textbox .hero-text {
  width: 35%;
  height: 46px;
  font-size: 15pt;
  color: #EE4367;
  text-align: center;
  margin-top: 1%;
  font-family: GillSans-Italic;
}
.home .wrapper .hero-textbox .hero-text2 {
  width: 38%;
  height: 46px;
  font-size: 15pt;
  color: #ffffff;
  text-align: center;
  font-family: GillSans-Italic;
}
.home .wrapper .hero-textbox .hero-button {
  margin: 1.5%;
  width: 10%;
  height: 41px;
  background-color: #EE4367;
  text-align: center;
  padding-top: 10px;
  margin-top: 4%;
  font-family: GillSans;
}
.home .wrapper .hero-textbox .hero-button a {
  color: #ffffff;
  text-decoration: none;
}
.home .wrapper .white-box {
  height: 300px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .wrapper .white-box .quote-box {
  color: #FFD140;
  max-width: 720px;
  font-size: 12pt;
  font-family: GillSans-SemiBoldItalic;
}
.home .wrapper .white-box .quote-name {
  color: #EE4367;
  max-width: 980px;
  margin-left: -51%;
  margin-top: 2%;
}
.home .wrapper .white-box .quote-job {
  color: #A8A8A8;
  max-width: 980px;
  margin-left: -40.5%;
  margin-top: 0.5%;
}
.home .wrapper .purple-box {
  background-color: #540D6E;
  height: 320px;
  width: 100%;
}
.home .wrapper .purple-box .purple-heading {
  color: #ffffff;
  margin-left: 5%;
  padding-top: 5%;
  font-size: 20pt;
  font-family: GillSans;
}
.home .wrapper .purple-box .line {
  border: none;
  height: 2px;
  width: 392px;
  background-color: #ffffff;
  margin: auto;
  margin-left: 5%;
  margin-top: 0.5%;
  margin-bottom: 2.5%;
}
.home .wrapper .purple-box .event-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.home .wrapper .purple-box .event-row .entry {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}
.home .wrapper .purple-box .event-row .entry .date-box {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
  margin-right: 10px;
}
.home .wrapper .purple-box .event-row .entry .date-box .top-date {
  font-family: GillSans-Bold;
  font-size: 20pt;
}
.home .wrapper .purple-box .event-row .entry .date-box .bottom-date {
  font-family: GillSans-Light;
  font-size: 10pt;
}
.home .wrapper .purple-box .event-row .entry .entry-text-box .entry-heading {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 5px;
  flex-direction: row;
  width: 140px;
  font-family: GillSans;
}
.home .wrapper .purple-box .event-row .entry .entry-text-box .entry-text {
  color: #EE4367;
  font-size: 13px;
  width: 140px;
  font-family: GillSans;
}

@media (min-width: 576px) {
  .home .hero {
    height: 300px;
  }
  .home .hero-textbox {
    padding-top: 120px;
  }
  .home .hero-text {
    width: 50%;
  }
  .home .hero-text2 {
    width: 60%;
  }
  .home .hero-button {
    width: 20%;
  }
  .home .white-box {
    height: 200px;
  }
  .home .quote-box {
    max-width: 90%;
  }
  .home .quote-name {
    margin-left: -35%;
  }
  .home .quote-job {
    margin-left: -25.5%;
  }
  .home .purple-box {
    height: 250px;
  }
  .home .purple-heading {
    font-size: 15pt;
  }
  .home .line {
    width: 60%;
  }
  .home .event-row {
    flex-wrap: wrap;
  }
  .home .entry {
    margin: 5px;
  }
  .home .date-box {
    width: 40px;
    height: 40px;
  }
  .home .entry-heading {
    font-size: 12px;
    width: 100px;
  }
  .home .entry-text {
    font-size: 10px;
    width: 100px;
  }
  .home .purple-box {
    height: auto;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .home .hero {
    height: 400px;
  }
  .home .hero-textbox {
    padding-top: 150px;
  }
  .home .hero-text {
    width: 45%;
  }
  .home .hero-text2 {
    width: 48%;
  }
  .home .hero-button {
    width: 15%;
  }
  .home .white-box {
    height: 250px;
  }
  .home .quote-box {
    max-width: 80%;
  }
  .home .quote-name {
    margin-left: -25%;
  }
  .home .quote-job {
    margin-left: -15.5%;
  }
  .home .purple-box {
    height: auto;
    flex-direction: column;
  }
  .home .purple-heading {
    font-size: 18pt;
  }
  .home .line {
    width: 70%;
  }
  .home .event-row {
    flex-wrap: wrap;
  }
  .home .entry {
    margin: 10px;
  }
  .home .date-box {
    width: 50px;
    height: 50px;
  }
  .home .entry-heading {
    font-size: 14px;
    width: 120px;
  }
  .home .entry-text {
    font-size: 12px;
    width: 120px;
  }
}
@media (min-width: 992px) {
  .home .hero-textbox {
    padding-top: 200px;
  }
  .home .hero-text {
    width: 40%;
  }
  .home .hero-text2 {
    width: 43%;
  }
  .home .hero-button {
    width: 12%;
  }
  .home .white-box {
    height: 300px;
  }
  .home .quote-box {
    max-width: 720px;
  }
  .home .quote-name {
    margin-left: -21%;
  }
  .home .quote-job {
    margin-left: -11.5%;
  }
  .home .purple-box {
    height: auto;
    flex-direction: column;
  }
  .home .purple-heading {
    font-size: 20pt;
  }
  .home .line {
    width: 80%;
  }
  .home .event-row {
    flex-wrap: nowrap;
  }
  .home .entry {
    margin: 20px;
  }
  .home .date-box {
    width: 60px;
    height: 60px;
  }
  .home .entry-heading {
    font-size: 15px;
    width: 140px;
  }
  .home .entry-text {
    font-size: 13px;
    width: 140px;
  }
}
@media (min-width: 1200px) {
  .home .hero-textbox {
    padding-top: 250px;
  }
  .home .hero-text {
    width: 35%;
  }
  .home .hero-text2 {
    width: 38%;
  }
  .home .hero-button {
    width: 10%;
  }
  .home .white-box {
    height: 300px;
  }
  .home .quote-name {
    margin-left: -15%;
  }
  .home .quote-job {
    margin-left: -5.5%;
  }
  .home .line {
    width: 90%;
  }
  .home .entry-heading {
    width: 160px;
  }
  .home .entry-text {
    width: 160px;
  }
  .home .purple-box {
    height: auto;
    flex-direction: column;
  }
}
.about {
  position: relative;
}
.about .hero {
  position: relative;
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/about.jpg);
  width: 980px;
  height: 379px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
}
.about .hero .about-hero-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 25px;
  font-family: GillSans;
}
.about .about-hero-line {
  border: none;
  height: 2px;
  width: 229px;
  background-color: black;
  margin: auto;
  margin-left: 13.2%;
  margin-top: 1%;
  margin-bottom: 3%;
}
.about .about-text {
  width: 980px;
  font-size: 14pt;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 12%;
  font-family: GillSans-LightItalic;
}

@media screen and (max-width: 768px) {
  .about .hero {
    width: 100%;
    height: 250px;
    margin-top: 10%;
  }
  .about .about-hero-line {
    width: 80%;
    margin-left: 10%;
  }
  .about .about-text {
    width: 100%;
    font-size: 12pt;
  }
}
@media screen and (max-width: 1200px) {
  .about .hero {
    width: 80%;
    height: 300px;
    margin-top: 8%;
  }
  .about .about-hero-line {
    width: 70%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 480px) {
  .about .hero {
    width: 100%;
    height: 200px;
    margin-top: 15%;
  }
  .about .about-hero-line {
    width: 60%;
    margin-left: 20%;
  }
  .about .about-text {
    width: 90%;
    font-size: 11pt;
  }
}
.gallery .heading {
  margin-top: 5%;
  margin-left: 13.5%;
  font-size: 25px;
  font-family: GillSans;
}
.gallery .line {
  border: none;
  height: 2px;
  width: 229px;
  background-color: black;
  margin: auto;
  margin-left: 13.5%;
  margin-top: 0.5%;
  margin-bottom: 2.5%;
}
.gallery .grid-box {
  display: flex;
  flex-direction: column;
}
.gallery .grid-box .top-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.gallery .grid-box .top-row .left-box {
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/gallery/1.png);
  height: 187px;
  width: 489px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 10px;
}
.gallery .grid-box .top-row .middle-box {
  background-image: linear-gradient(rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/gallery/2.jpeg);
  height: 187px;
  width: 187px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 10px;
}
.gallery .grid-box .top-row .right-box {
  background-image: linear-gradient(rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/gallery/3.jpg);
  height: 187px;
  width: 265px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 10px;
}
.gallery .grid-box .bottom-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.gallery .grid-box .bottom-row .bottom-left {
  background-image: linear-gradient(rgba(84, 13, 110, 0.5), rgba(84, 13, 110, 0.5)), url(../images/gallery/4.jpg);
  height: 306px;
  width: 603px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 10px;
}
.gallery .grid-box .bottom-row .bottom-right {
  background-image: linear-gradient(rgba(59, 206, 171, 0.5), rgba(59, 206, 171, 0.5)), url(../images/gallery/5.png);
  height: 306px;
  width: 355px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 10px;
}

.gallery1 .hero {
  position: relative;
  background-image: linear-gradient(rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/gallery/1.png);
  height: 400px;
  width: 980px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
  display: flex;
  align-items: flex-end;
}
.gallery1 .hero .heading-text {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #FFD140;
  font-family: GillSansregular;
}
.gallery1 .hero .heading-text .heading-left {
  font-size: 200pt;
  height: 344px;
  width: 216px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -10%;
  font-family: GillSans;
}
.gallery1 .hero .heading-text .heading-right {
  font-size: 100pt;
  height: 161px;
  width: 721px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -4%;
  font-family: GillSans;
}
.gallery1 .gallery-text {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
}
.gallery1 .gallery-text .text-left {
  width: 490px;
  height: 133px;
  font-family: GillSans-LightItalic;
}
.gallery1 .gallery-text .text-right {
  width: 451px;
  height: 133px;
  font-family: GillSans-LightItalic;
}

.gallery2 .hero {
  position: relative;
  background-image: linear-gradient(rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/gallery/2.jpeg);
  height: 400px;
  width: 980px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
  display: flex;
  align-items: flex-end;
}
.gallery2 .hero .heading-text {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #EE4367;
  font-family: GillSans;
}
.gallery2 .hero .heading-text .heading-left {
  font-size: 200pt;
  height: 344px;
  width: 216px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -10%;
  font-family: GillSans;
}
.gallery2 .hero .heading-text .heading-right {
  font-size: 100pt;
  height: 161px;
  width: 721px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -4%;
  font-family: GillSans;
}
.gallery2 .gallery-text {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
  font-family: GillSans-LightItalic;
}
.gallery2 .gallery-text .text-left {
  width: 490px;
  height: 133px;
}
.gallery2 .gallery-text .text-right {
  width: 451px;
  height: 133px;
}

@media (min-width: 576px) {
  .gallery2 .hero {
    height: 300px;
  }
  .gallery2 .heading-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .gallery2 .heading-left,
  .gallery2 .heading-right {
    font-size: 40pt;
    margin-bottom: 0;
  }
  .gallery2 .gallery-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gallery2 .text-left,
  .gallery2 .text-right {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .gallery2 .hero {
    height: 400px;
  }
  .gallery2 .heading-left,
  .gallery2 .heading-right {
    font-size: 60pt;
  }
}
@media (min-width: 992px) {
  .gallery2 .hero {
    width: 980px;
  }
  .gallery2 .heading-left,
  .gallery2 .heading-right {
    font-size: 80pt;
  }
}
@media (min-width: 1200px) {
  .gallery2 .hero {
    width: 1200px;
  }
  .gallery2 .heading-left,
  .gallery2 .heading-right {
    font-size: 100pt;
  }
}
.gallery3 .hero {
  position: relative;
  background-image: linear-gradient(rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/gallery/3.jpg);
  height: 400px;
  width: 980px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
  display: flex;
  align-items: flex-end;
}
.gallery3 .hero .heading-text {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #08AD69;
  font-family: GillSans;
}
.gallery3 .hero .heading-text .heading-left {
  font-size: 200pt;
  height: 344px;
  width: 216px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -10%;
}
.gallery3 .hero .heading-text .heading-right {
  font-size: 100pt;
  height: 161px;
  width: 721px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -4%;
}
.gallery3 .gallery-text {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
  font-family: GillSans-LightItalic;
}
.gallery3 .gallery-text .text-left {
  width: 490px;
  height: 133px;
}
.gallery3 .gallery-text .text-right {
  width: 451px;
  height: 133px;
}

@media (min-width: 576px) {
  .gallery3 .hero {
    height: 300px;
  }
  .gallery3 .heading-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .gallery3 .heading-left,
  .gallery3 .heading-right {
    font-size: 40pt;
    margin-bottom: 0;
  }
  .gallery3 .gallery-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gallery3 .text-left,
  .gallery3 .text-right {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .gallery3 .hero {
    height: 400px;
  }
  .gallery3 .heading-left,
  .gallery3 .heading-right {
    font-size: 60pt;
  }
}
@media (min-width: 992px) {
  .gallery3 .hero {
    width: 980px;
  }
  .gallery3 .heading-left,
  .gallery3 .heading-right {
    font-size: 80pt;
  }
}
@media (min-width: 1200px) {
  .gallery3 .hero {
    width: 1200px;
  }
  .gallery3 .heading-left,
  .gallery3 .heading-right {
    font-size: 100pt;
  }
}
.gallery4 .hero {
  position: relative;
  background-image: linear-gradient(rgba(84, 13, 110, 0.5), rgba(84, 13, 110, 0.5)), url(../images/gallery/4.jpg);
  height: 400px;
  width: 980px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
  display: flex;
  align-items: flex-end;
}
.gallery4 .hero .heading-text {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #540D6E;
  font-family: GillSans;
}
.gallery4 .hero .heading-text .heading-left {
  font-size: 200pt;
  height: 344px;
  width: 216px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -10%;
}
.gallery4 .hero .heading-text .heading-right {
  font-size: 90pt;
  height: 161px;
  width: 721px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -4%;
}
.gallery4 .gallery-text {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
}
.gallery4 .gallery-text .text-left {
  width: 490px;
  height: 133px;
  font-family: GillSans-LightItalic;
}
.gallery4 .gallery-text .text-right {
  width: 451px;
  height: 133px;
  font-family: GillSans-LightItalic;
}

@media (min-width: 576px) {
  .gallery4 .hero {
    height: 300px;
  }
  .gallery4 .heading-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .gallery4 .heading-left,
  .gallery4 .heading-right {
    font-size: 40pt;
    margin-bottom: 0;
  }
  .gallery4 .gallery-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gallery4 .text-left,
  .gallery4 .text-right {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .gallery4 .hero {
    height: 400px;
  }
  .gallery4 .heading-left,
  .gallery4 .heading-right {
    font-size: 60pt;
  }
}
@media (min-width: 992px) {
  .gallery4 .hero {
    width: 980px;
  }
  .gallery4 .heading-left,
  .gallery4 .heading-right {
    font-size: 80pt;
  }
}
@media (min-width: 1200px) {
  .gallery4 .hero {
    width: 1200px;
  }
  .gallery4 .heading-left,
  .gallery4 .heading-right {
    font-size: 100pt;
  }
}
.gallery5 .hero {
  position: relative;
  background-image: linear-gradient(rgba(59, 206, 171, 0.5), rgba(59, 206, 171, 0.5)), url(../images/gallery/5.png);
  height: 400px;
  width: 980px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
  display: flex;
  align-items: flex-end;
}
.gallery5 .hero .heading-text {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #3BCEAB;
  font-family: GillSans;
}
.gallery5 .hero .heading-text .heading-left {
  font-size: 200pt;
  height: 344px;
  width: 216px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -10%;
}
.gallery5 .hero .heading-text .heading-right {
  font-size: 100pt;
  height: 161px;
  width: 721px;
  display: flex;
  align-self: flex-end;
  margin-bottom: -4%;
}
.gallery5 .gallery-text {
  display: flex;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 7%;
  font-family: GillSans-LightItalic;
}
.gallery5 .gallery-text .text-left {
  width: 490px;
  height: 133px;
}
.gallery5 .gallery-text .text-right {
  width: 451px;
  height: 133px;
}

@media (min-width: 576px) {
  .gallery5 .hero {
    height: 300px;
  }
  .gallery5 .heading-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .gallery5 .heading-left,
  .gallery5 .heading-right {
    font-size: 40pt;
    margin-bottom: 0;
  }
  .gallery5 .gallery-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .gallery5 .text-left,
  .gallery5 .text-right {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .gallery5 .hero {
    height: 400px;
  }
  .gallery5 .heading-left,
  .gallery5 .heading-right {
    font-size: 60pt;
  }
}
@media (min-width: 992px) {
  .gallery5 .hero {
    width: 980px;
  }
  .gallery5 .heading-left,
  .gallery5 .heading-right {
    font-size: 80pt;
  }
}
@media (min-width: 1200px) {
  .gallery5 .hero {
    width: 1200px;
  }
  .gallery5 .heading-left,
  .gallery5 .heading-right {
    font-size: 100pt;
  }
}
.blog {
  margin-bottom: 8%;
}
.blog .blog-heading {
  font-size: 25px;
  margin-left: 13.5%;
  margin-top: 5%;
  font-family: GillSans;
}
.blog .blog-line {
  border: none;
  height: 2px;
  width: 229px;
  background-color: black;
  margin: auto;
  margin-left: 13.5%;
  margin-top: 0.5%;
  margin-bottom: 2.5%;
}
.blog .blog-top-row {
  display: flex;
  justify-content: space-between;
  margin-left: 13.5%;
  margin-right: 15%;
}
.blog .blog-top-row .entry {
  display: flex;
  align-items: flex-start;
  width: 45%;
  margin-bottom: 20px;
}
.blog .blog-top-row .entry .left-box {
  margin-right: 15px;
}
.blog .blog-top-row .entry .left-box .date-box {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  padding-top: 0.5px;
  color: #ffffff;
}
.blog .blog-top-row .entry .left-box .date-box .top-date {
  font-weight: bold;
  margin-top: 15%;
  font-size: 20pt;
  font-family: GillSans-Bold;
}
.blog .blog-top-row .entry .left-box .date-box .bottom-date {
  font-size: 10pt;
  font-family: GillSans-Light;
}
.blog .blog-top-row .entry .entry-content {
  display: flex;
  flex-direction: column;
}
.blog .blog-top-row .entry .entry-hero {
  background-image: url(../images/blog.jpg);
  width: 380px;
  height: 140px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.blog .blog-top-row .entry .entry-heading {
  color: black;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: GillSans;
}
.blog .blog-top-row .entry .entry-text {
  color: #EE4367;
  font-size: 13px;
  margin-top: 0;
  font-family: GillSans;
}
.blog .blog-bottom-row {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
}
.blog .blog-bottom-row .entry {
  display: flex;
  align-items: flex-start;
  width: 45%;
  margin-bottom: 20px;
}
.blog .blog-bottom-row .entry .left-box {
  margin-right: 15px;
}
.blog .blog-bottom-row .entry .left-box .date-box {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  padding-top: 0.5px;
  color: #ffffff;
}
.blog .blog-bottom-row .entry .left-box .date-box .top-date {
  font-weight: bold;
  margin-top: 15%;
  font-size: 20pt;
}
.blog .blog-bottom-row .entry .left-box .date-box .bottom-date {
  font-size: 10pt;
}
.blog .blog-bottom-row .entry .entry-hero {
  background-image: url(../images/blog.jpg);
  width: 380px;
  height: 140px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog .blog-bottom-row .entry .entry-heading {
  color: black;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.blog .blog-bottom-row .entry .entry-text {
  color: #EE4367;
  font-size: 13px;
}

.blog1 .hero {
  position: relative;
  background-image: linear-gradient(rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.jpg);
  height: 300px;
  width: 980px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 8%;
}
.blog1 .hero .date-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 155px;
  height: 155px;
  background-color: #EE4367;
  text-align: center;
  color: #ffffff;
}
.blog1 .hero .date-box .top-date {
  font-size: 55px;
  font-weight: bold;
  margin-top: 15%;
  font-family: GillSans-Bold;
}
.blog1 .hero .date-box .bottom-date {
  font-size: 31px;
  font-family: GillSans-Light;
}
.blog1 .text-heading {
  color: #EE4367;
  font-size: 18pt;
  width: 856px;
  margin: 0 auto;
  text-align: left;
  margin-left: 13.5%;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: GillSans;
}
.blog1 .blog-text .text-top {
  font-size: 18pt;
  width: 856px;
  margin: 0 auto;
  text-align: left;
  margin-left: 13.5%;
  margin-bottom: 5%;
  font-family: GillSans-Light;
}
.blog1 .text-heading2 {
  color: #EE4367;
  font-size: 18pt;
  width: 856px;
  margin: 0 auto;
  text-align: left;
  margin-left: 13.5%;
  margin-bottom: 5%;
  font-family: GillSans;
}
.blog1 .text-bottom {
  font-size: 18pt;
  width: 856px;
  margin: 0 auto;
  text-align: left;
  margin-left: 13.5%;
  margin-bottom: 15%;
  font-family: GillSans-Light;
}

@media screen and (max-width: 768px) {
  .blog1 .hero {
    width: 90%;
    margin-left: 5%;
  }
  .blog1 .hero .date-box {
    width: 120px;
    height: 120px;
  }
  .blog1 .text-heading,
  .blog1 .text-heading2,
  .blog1 .text-bottom,
  .blog1 .blog-text .text-top {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 1200px) {
  .blog1 .hero {
    width: 90%;
    margin-left: 5%;
  }
  .blog1 .text-heading,
  .blog1 .text-heading2,
  .blog1 .text-bottom,
  .blog1 .blog-text .text-top {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 480px) {
  .blog1 .hero {
    width: 90%;
    margin-left: 5%;
  }
  .blog1 .hero .date-box {
    width: 100px;
    height: 100px;
  }
  .blog1 .text-heading,
  .blog1 .text-heading2,
  .blog1 .text-bottom,
  .blog1 .blog-text .text-top {
    width: 90%;
    margin-left: 5%;
    font-size: 16pt;
  }
}
.contact {
  max-width: 1280px;
  margin: 0 auto;
}
.contact .contact-heading {
  font-size: 22pt;
  margin-top: 10%;
  margin-left: 12%;
  margin-bottom: 0.8%;
  font-family: GillSans;
}
.contact .line {
  border: none;
  height: 3px;
  width: 229px;
  background-color: black;
  position: absolute;
  left: 13.5%;
}
.contact .content {
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 12%;
}
.contact .content .content-right {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 80px;
  padding-left: 8%;
}
.contact .content .content-right .gps {
  background-image: url(../images/map.jpg);
  width: 400px;
  height: 442px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-left: 0;
}
.contact .content .content-left {
  width: 45%;
}
.contact .content .content-left .form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 11%;
}
.contact .content .content-left .form-info .name {
  height: 60px;
  width: 529px;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  margin-bottom: 4%;
  padding-left: 1%;
  font-family: GillSans;
}
.contact .content .content-left .form-info .email {
  height: 60px;
  width: 529px;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  margin-bottom: 4%;
  padding-left: 1%;
  font-family: GillSans;
}
.contact .content .content-left .form-info .company {
  height: 60px;
  width: 529px;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  margin-bottom: 4%;
  padding-left: 1%;
  font-family: GillSans;
}
.contact .content .content-left .form-info .message {
  height: 199px;
  width: 529px;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  margin-bottom: 4%;
  padding: 15px;
  font-family: GillSans;
}
.contact .content .content-left .form-info .submit-button {
  margin: 1.5%;
  width: 167px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  padding-top: 17px;
  margin-left: -80%;
  margin-bottom: 20%;
}
.contact .content .content-left .form-info .submit-button a {
  color: #ffffff;
  text-decoration: none;
  font-family: GillSans;
}

@media screen and (max-width: 768px) {
  .gallery .heading {
    margin-left: 5%;
  }
  .gallery .line {
    width: 80%;
    margin-left: 10%;
  }
  .gallery .grid-box .top-row,
  .gallery .grid-box .bottom-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .gallery .grid-box .top-row .left-box,
  .gallery .grid-box .top-row .middle-box,
  .gallery .grid-box .top-row .right-box,
  .gallery .grid-box .bottom-row .bottom-left,
  .gallery .grid-box .bottom-row .bottom-right {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .gallery .heading {
    margin-left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .gallery .heading {
    margin-left: 5%;
    font-size: 20px;
  }
  .gallery .line {
    width: 60%;
    margin-left: 20%;
  }
  .gallery .grid-box .top-row .left-box,
  .gallery .grid-box .top-row .middle-box,
  .gallery .grid-box .top-row .right-box,
  .gallery .grid-box .bottom-row .bottom-left,
  .gallery .grid-box .bottom-row .bottom-right {
    width: 90%;
    margin: 0;
    margin-bottom: 20px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE4367;
  height: 455px;
}
footer .footer-box {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .footer-box .footer-logo {
  background-image: url(../images/logo/logo-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 92px;
  height: 42px;
  margin-bottom: 4%;
  margin-top: 5%;
}
footer .footer-box .footer-address {
  color: #ffffff;
  margin: 5px 0;
  font-family: GillSans;
}
footer .footer-box .footer-phone {
  color: #ffffff;
  margin: 5px 0;
  font-family: GillSans;
}
footer .footer-box .footer-email {
  color: #ffffff;
  margin: 5px 0;
  font-family: GillSans;
}
footer .footer-box .footer-subscribe {
  margin-top: 20px;
  font-family: GillSans;
}
footer .footer-box .footer-subscribe .subscribe-input {
  background-color: #F56B88;
  width: 529px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: GillSans;
}
footer .footer-box .footer-subscribe .subscribe-input::placeholder {
  color: #ffffff;
  font-family: GillSans;
}
footer .footer-box .footer-subscribe .subscribe-btn {
  width: 167px;
  height: 60px;
  background-color: #ffffff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-family: GillSans;
}
footer .footer-box .footer-subscribe .subscribe-btn span {
  color: #EE4367;
  display: inline-block;
  line-height: 60px;
}
footer .footer-box .footer-socials {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
footer .footer-box .footer-socials .user {
  width: 22px;
  height: 22px;
  color: #ffffff;
  margin: 0 5px;
}
footer .footer-box .footer-copyright {
  width: 222px;
  height: 14px;
  font-size: 12px;
  color: #ffffff;
  font-family: GillSans;
}

@media (min-width: 576px) {
  footer {
    height: auto;
  }
  .footer-box {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
  }
  .footer-address,
  .footer-phone,
  .footer-email,
  .footer-socials,
  .footer-copyright {
    margin: 0;
  }
  .footer-subscribe {
    margin-top: 0;
  }
  .subscribe-input {
    width: 100%;
    max-width: 300px;
  }
  .subscribe-btn {
    width: auto;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .footer-box {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .footer-box {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .footer-box {
    max-width: 1200px;
  }
}
