.gallery1 {
    .hero {
        position: relative; 
        background-image: linear-gradient(rgba(255, 209, 64, .5), rgba(255, 209, 64, 0.5)), url(../images/gallery/1.png);
        height: 400px;
        width: 980px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-top: 8%;
        display: flex; 
        align-items: flex-end; 

        .heading-text {
            position: relative; 
            align-self: flex-end; 
            display: flex; 
            justify-content: space-between;
            width: 100%; 
            color: $site-yellow;
            font-family: GillSansregular;


            .heading-left {
                font-size: 200pt; 
                height: 344px;
                width: 216px;
                display: flex;
                align-self: flex-end; 
                margin-bottom: -10%;
                font-family: GillSans;


            }
            .heading-right {
                font-size: 100pt;
                height: 161px;
                width: 721px;
                display: flex;
                align-self: flex-end;
                margin-bottom: -4%;
                font-family: GillSans;

            }
        }
    }
    .gallery-text {
        display: flex; 
        justify-content: space-between; 
        width: 980px; 
        margin: 0 auto; 
        margin-top: 5%;
        margin-bottom: 7%;

        .text-left {
            width: 490px;
            height: 133px;
            font-family: GillSans-LightItalic;
        }
        .text-right {
            width: 451px;
            height: 133px;
            font-family: GillSans-LightItalic;
        }
    }
}


